#nav-bar{
  background-color: #00a087;
  position: fixed;
  width: 100%;
  height: auto;
  color: #e8fdff;
  padding: 0em 2em;
  z-index: 1;
  display: inline-block;
}
#nav-bar .logo{
 width: 80px;
 height: 80px;
 float: left;
}
#nav-bar .header{
  float: left;
  line-height: 250%;
  font-size: 200%;
  margin-left: 10px;
}
#compose{
  float: right;
  display: inline-block;
  padding: 15px .5em;
  background-color: #e8fdff;
  color:#00a087;
  margin: 10px 5px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 120%;
}

/*Responsive CSS for when screen gets very small*/
@media (max-width: 450px){
  #nav-bar{
    display: block;
  }
  #nav-bar .logo{
    min-width: 10%;
    height: auto;
    padding: 2%;
  }
  #nav-bar .header{
    line-height: 150%;
    margin: 0;
    display:block;
    padding: 2% 0%;
  }
  #compose{
    padding: 2%;
    height: 100%;
    width: 35%;
    margin: 2%;
    font-size: 120%;
}