span.counter{
  float: right;
  font-style: italic;
}
h2{
  border-bottom:1px solid;
  margin-top: 0;
}
textarea{
  padding: 5px;
  width: 100%;
}
section.new-tweet{
  width: 80%;
  margin: auto;
  background-color: #eee;
  color: #244751;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}
.char-limit{
  color: red;
}
.trans{
  opacity: .6;
}
#compose:hover{
  background-color: white;
  color: black;
}
.icons{
  float: right;
  color: #00a087;
  display: none;
  opacity: .6;
}
i.fa{
  padding: 3px;
}
a:visited{
  color: #00a087;
}
section#tweets-container{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  color: #244751;
}

